<div class="row" style="height:40vh">
    <div class="col-4 d-flex justify-content-center align-items-center">
        <div>Contact Details {{name}}</div>
    </div>
    <div class="col-4">
        <h2>Contact Form</h2>
        <!-- <form> -->
            <div>
                <label>Name</label><input [(ngModel)]="name"><br>
                <label>Email</label><input [(ngModel)]="email"><br>
                <label>Mobile</label><input [(ngModel)]="mobile"><br>
                <button (click)="submit()">Submit</button>
            </div>
        <!-- </form> -->
    </div>
    <div class="col-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.6521689271162!2d73.9083955502136!3d18.544614073217122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c1e16b036a6f%3A0xc3dac16c5a2e3e8!2sBajaj%20Finserv%20Direct%20Limited!5e0!3m2!1sen!2sin!4v1673937450001!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>